body{
  font-family: arial;
  background-color:#c5c1c5;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 48px 0px 48px 0px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 620px;
    text-align: center;
    background-color: #fef5ff;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

a{
    text-decoration: none;
    color: black;
    padding: 8px;
}

img{
    height: 60px;
    width: auto;
    margin: 0px 0px 0px 48px;
    padding: 1px 4px;
    background-color: #fef5ff;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #fef5ff;
    margin: 24px;
    padding: 28px 48px;
    max-width: 700px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

td{
  padding: 0px 20px 0px 0px;
}
