body{
  font-family: arial;
  background-position: right 0px top 150px;
  background-color:#f7f6d6;
  margin: 0px;
}

header{
  background-image: linear-gradient(
      to right,
      #B5D5D8,
      #fcb1f2,
      #ffff00);
  padding: 10px;
  position: sticky;
  top: 0px;
  text-align: center;
}

main{
  padding: 10px;
  margin: 20px;
}

footer{
  background-image: linear-gradient(
      to right,
      #B5D5D8,
      #fcb1f2,
      #ffff00);
  position: sticky;
  bottom: 0px;
  padding: 10px;
}

h3{
  color: rgb(105, 1, 105);
}

td{
  padding: 0px 20px 0px 0px;
}

