body {
  font-family: arial;
  background-color: rgb(62, 213, 140);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

header {
  background-color: white;
  height: 60px;
  width: 620px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0px 48px 0px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

nav {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  margin: 8px;
}

.card {
  background-color: white;
  margin: 20px;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

h3 {
  margin-left: 8px;
}

td {
  padding: 2px 8px;
}
